<ion-header>
    <ion-toolbar color="primary">
        <ion-title routerLink="/tabs/home">
            <img src="/assets/header_white3.png" height="36px;"></ion-title>
    </ion-toolbar>
</ion-header>
<ion-header>
    <ion-item>
        <swiper-container #swiperRef
        direction="horizontal" [slidesPerView]="7" [spaceBetween]="1"
            [initialSlide]="etappeIndex" [centeredSlides]="true">
            <swiper-slide *ngFor="let etappe of etappes; let index = index">
                <div>
                    <ion-grid>
                        <ion-row class="ion-justify-content-center">
                            <ion-col class="ion-text-center">
                                <ion-chip [color]="etappe?.id === activeEtappe?.id ? 'secondary' : 'primary'"
                                    (click)="setEtappe(etappe, index)">
                                    {{etappe.etappeNumber}}
                                </ion-chip>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </swiper-slide>
        </swiper-container>
    </ion-item>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <h5>{{activeEtappe?.etappeName}}</h5>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-progress-bar value="1" color="primary"></ion-progress-bar>
</ion-header>

<!-- <ion-header>
    <ion-item lines="none">
        <swiper [config]="config"
                [initialSlide]="etappeIndex" #etappeSlides>
            <ng-template swiperSlide *ngFor="let etappe of etappes; let index = index">
                <div>
                    <ion-grid>
                        <ion-row class="ion-justify-content-center">
                            <ion-col class="ion-text-center">
                                <ion-chip [color]="etappe?.id === activeEtappe?.id ? 'secondary' : 'primary'"
                                          (click)="setEtappe(etappe, index)">
                                    {{etappe.etappeNumber}}
                                </ion-chip>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ng-template>
        </swiper>
    </ion-item>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <h5>{{activeEtappe?.etappeName}}</h5>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-progress-bar value="1" color="primary"></ion-progress-bar>
</ion-header> -->
<ion-content [fullscreen]="true">
    <ng-container *ngIf="activeSegment === 'stand'">
        <ion-list>
            <ng-container *ngFor="let line of stand">
                <app-deelnemer-table-summary (itemClickedEvent)="openDeelnemer($event)" [showDelta]="false"
                    [line]="line" mainValue="totalStagePoints"></app-deelnemer-table-summary>
            </ng-container>
        </ion-list>
    </ng-container>
</ion-content>