<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-title><img src="/assets/header_white3.png"
                            height="36px;"></ion-title>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="ion-no-padding"
                        fill="clear"
                        (click)="openSettings()">
                <ion-icon size="medium"
                          name="settings"
                          color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header>
    <ion-item lines="none">
        <swiper [config]="config"
                [initialSlide]="etappeIndex" #etappeSlides>
            <ng-template swiperSlide *ngFor="let etappe of etappes; let index = index">
                <div>
                    <ion-grid>
                        <ion-row class="ion-justify-content-center">
                            <ion-col class="ion-text-center">
                                <ion-chip [color]="etappe?.id === activeEtappe?.id ? 'secondary' : 'primary'"
                                          (click)="setEtappe(etappe, index)">
                                    {{etappe.etappeNumber}}
                                </ion-chip>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ng-template>
        </swiper>
    </ion-item>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <h5>{{activeEtappe?.etappeName}}</h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-note color="dark" class="ion-no-margin" *ngIf="uitslag?.length > 0">
                    Winnaar {{uitslag[0].tourrider.rider.firstName}} {{uitslag[0].tourrider.rider.surName}}</ion-note>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-progress-bar value="1" color="primary"></ion-progress-bar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-segment color="primary" mode="md" value="uitslag" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="uitslag">
            <ion-label>Renners</ion-label>
        </ion-segment-button>
        <ion-segment-button value="stand">
            <ion-label>Deelnemers</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ng-container *ngIf="activeSegment === 'uitslag'">
        <ion-list>
            <ion-item *ngFor="let line of uitslag">
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col size="2" class="ion-align-self-center">
                            {{line.position}}
                        </ion-col>
                        <ion-col class="ion-align-self-center">
                            {{line.tourrider.rider.firstName}}
                            {{line.tourrider.rider.surName}}
                            <ion-text color="medium" size="small">({{line.tourrider.waarde}})</ion-text>

                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                            <ion-chip color="primary">{{line.punten}}</ion-chip>

                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngIf="activeSegment === 'stand'">
        <ion-list>
            <ng-container *ngFor="let line of stand">
                <app-deelnemer-table-summary [line]="line" mainValue="totalStagePoints"></app-deelnemer-table-summary>
            </ng-container>
        </ion-list>
    </ng-container>

</ion-content>
