<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <img src="/assets/header_white3.png" height="36px;">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item detail="false" href="/tabs/home" lines="full">
        <ion-label>
            Home
        </ion-label>
    </ion-item>
    <ion-item detail="false" href="/tabs/spelregels">
        <ion-label>
            Spelregels
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-label>Tour</ion-label>
        <ion-select placeholder="Select tour" (ionChange)="fetchTour($event.detail.value.id)">
            <ion-select-option *ngFor="let tour of (tours$ | async)" [value]="tour">{{tour.tourName}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item lines="full" *ngIf="(authService.user$ | async)"
            (click)="logout()">
        <ion-label>
            Uitloggen
        </ion-label>
    </ion-item>
</ion-content>
