<ion-item (click)="openRenner()" *ngIf="line.rider" [lines]="lineType">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-padding-vertical">
            <ion-col>
            <div class="align-content-horizontal">
            <img
                        style="height: 24px;"
                        [src]="'/assets/'+icon+'.png'">
                &nbsp;
                <img style="height: 16px;"
                     src="/assets/flag/{{line?.rider?.nationality}}.png">
                &nbsp;
                {{line?.rider?.initials}} {{line?.rider?.surNameShort}}
                <ion-text color="medium" size="small">({{line.rider.waarde}})</ion-text>
            </div>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center ion-text-end">
                <app-punten-col [punten]="mainValue === 'gekozen' ? line.gekozen : line.points.totalTourPoints" [showDelta]="false"></app-punten-col>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-bottom ion-wrap ion-justify-content-end" *ngIf="showDetail">
            <app-icon-with-points image="/assets/etappes_donker.png"
                                  [points]="line.points.totalStagePoints"></app-icon-with-points>
            <app-icon-with-points image="/assets/shirt_algemeen.png"
                                  [points]="line.points.totalTourPoints"></app-icon-with-points>
            <app-icon-with-points image="/assets/shirt_punten.png"
                                  [points]="line.points.totalPointsPoints"></app-icon-with-points>
            <app-icon-with-points image="/assets/shirt_berg.png"
                                  [points]="line.points.totalMountainPoints"></app-icon-with-points>
            <app-icon-with-points image="/assets/shirt_jongeren.png"
                                  [points]="line.points.totalYouthPoints"></app-icon-with-points>
            <!--todo delta en uitval tonen-->
            <!--      <ion-col *ngIf="mainValue !== 'deltaTotalStagePoints'"-->
            <!--               size="3" class="ion-align-self-center">-->
            <!--        <ion-chip outline>-->
            <!--          ∆: {{line.points.deltaTotalStagePoints < 0 ? '-' : '+'}}{{line.points.deltaTotalStagePoints}}</ion-chip>-->
            <!--      </ion-col>-->
            <!--      <ion-col size="6" class="ion-align-self-center" *ngIf="line.rider.isOut">-->
            <!--        <ion-chip color="danger" outline>-->
            <!--          <ion-icon color="danger" name="bicycle-sharp"></ion-icon>-->
            <!--          <ion-label>Etappe {{line.latestEtappe.etappeNumber}}</ion-label>-->
            <!--        </ion-chip>-->
            <!--      </ion-col>-->
        </ion-row>
    </ion-grid>
</ion-item>
