<ion-item (click)="openRenner()" *ngIf="line" [lines]="lineType">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-padding-vertical">
            <ion-col size="auto">
                <div class="align-content-horizontal">
                    &nbsp;
                    <img style="height: 16px;"
                         src="/assets/flag/{{line?.rider_nationality}}.png">
                    &nbsp;
                    <ion-icon
                            slot="start"
                            [src]="line.prediction_isRider ?
                'assets/rider.svg' : line.prediction_isLinkebal ?
                'assets/joker.svg' : line.prediction_isBeschermderenner ?
                'assets/beschermde_renner.svg' : line.prediction_isWaterdrager ?
                'assets/waterdrager.svg' : line.prediction_isMeesterknecht ?
                'assets/meesterknecht.svg' : 'assets/rider.svg'"></ion-icon>
                    &nbsp;
                    {{line?.rider_initials}} {{line?.rider_surNameShort}}
                    <ion-text color="medium" size="small">
                        &nbsp;({{line.tourrider_waarde}})
                    </ion-text>
                    <ng-container *ngIf="line?.tourrider_isJongeren">
                        &nbsp;
                        <img src="/assets/shirt_jongeren.png" style="height: 24px;">
                    </ng-container>
                    <ng-container *ngIf="line?.tourrider_isOut">
                        &nbsp;
                        <ion-icon name="bandage-outline"></ion-icon>
                        <ion-text color="danger">etappe: {{line?.tourrider_latestEtappeNumber}}</ion-text>
                    </ng-container>
                </div>
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-end">
                <app-punten-col
                        [showImage]="showImage"
                        [imageUrl]="imageUrl"
                        [punten]="punten"
                        [deltaPunten]="-99"
                        [showDelta]="showDelta"></app-punten-col>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-bottom ion-wrap ion-justify-content-end" *ngIf="showDetail">
            <app-icon-with-points image="/assets/etappes_donker.png"
                                  [points]="line.etappepunten"></app-icon-with-points>
            <app-icon-with-points image="/assets/tour_shirts_all.png"
                                  [points]="line.algemeenpunten + line.puntenpunten + line.bergpunten + line.jongerenpunten "></app-icon-with-points>

            <app-icon-with-points image="/assets/shirt_algemeen.png"
                                  [points]="line.algemeenpunten"></app-icon-with-points>
            <app-icon-with-points image="/assets/shirt_punten.png"
                                  [points]="line.puntenpunten"></app-icon-with-points>
            <app-icon-with-points image="/assets/shirt_berg.png"
                                  [points]="line.bergpunten"></app-icon-with-points>
            <app-icon-with-points image="/assets/shirt_jongeren.png"
                                  [points]="line.jongerenpunten"></app-icon-with-points>
            <!--todo delta en uitval tonen-->
            <!--      <ion-col *ngIf="mainValue !== 'deltaTotalStagePoints'"-->
            <!--               size="3" class="ion-align-self-center">-->
            <!--        <ion-chip outline>-->
            <!--          ∆: {{line.points.deltaTotalStagePoints < 0 ? '-' : '+'}}{{line.points.deltaTotalStagePoints}}</ion-chip>-->
            <!--      </ion-col>-->
            <!--      <ion-col size="6" class="ion-align-self-center" *ngIf="line.rider.isOut">-->
            <!--        <ion-chip color="danger" outline>-->
            <!--          <ion-icon color="danger" name="bicycle-sharp"></ion-icon>-->
            <!--          <ion-label>Etappe {{line.latestEtappe.etappeNumber}}</ion-label>-->
            <!--        </ion-chip>-->
            <!--      </ion-col>-->
        </ion-row>
    </ion-grid>
</ion-item>
