<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="team" *ngIf="!(isRegistrationOpen$ | async)">
      <ion-icon name="bicycle-sharp"></ion-icon>
      <ion-label>Mijn team</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inschrijven" *ngIf="(isRegistrationOpen$ | async)">
      <ion-icon name="bicycle-sharp"></ion-icon>
      <ion-label>Mijn team</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stand" *ngIf="!(isRegistrationOpen$ | async)">
      <ion-icon name="medal-sharp"></ion-icon>
      <ion-label>Stand</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="etappes" *ngIf="!(isRegistrationOpen$ | async)">
      <ion-icon name="analytics-sharp"></ion-icon>
      <ion-label>Etappes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="renners" *ngIf="!(isRegistrationOpen$ | async)">
      <ion-icon name="bicycle-sharp"></ion-icon>
      <ion-label>Renners</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
