// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');


ion-content {
  --background: var(--ion-color-light);
}

/** Ionic CSS Variables **/
:root {

  --ion-padding: 8px;
  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;

  /** primary **/
  --ion-color-primary: #159eaf;
  --ion-color-primary-rgb: 21,158,175;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #128b9a;
  --ion-color-primary-tint: #2ca8b7;

  --ion-color-secondary: #ee6873;
  --ion-color-secondary-rgb: 238,104,115;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d15c65;
  --ion-color-secondary-tint: #f07781;

  --ion-color-tertiary: #B88C9E;
  --ion-color-tertiary-rgb: 184,140,158;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #a27b8b;
  --ion-color-tertiary-tint: #bf98a8;

  --ion-color-success: #63d471;
  --ion-color-success-rgb: 99,212,113;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #57bb63;
  --ion-color-success-tint: #73d87f;

  --ion-color-warning: #F49D37;
  --ion-color-warning-rgb: 244,157,55;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d78a30;
  --ion-color-warning-tint: #f5a74b;

  --ion-color-danger: #8d0801;
  --ion-color-danger-rgb: 141,8,1;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #7c0701;
  --ion-color-danger-tint: #98211a;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: #{'Quicksand'};


  --ion-color-selected: #CDE7EF;
  --ion-color-selected-rgb: 205,231,239;
  --ion-color-selected-contrast: #000000;
  --ion-color-selected-contrast-rgb: 0,0,0;
  --ion-color-selected-shade: #b4cbd2;
  --ion-color-selected-tint: #d2e9f1;
  
  .ion-color-selected {
    --ion-color-base: var(--ion-color-selected) !important;
    --ion-color-base-rgb: var(--ion-color-selected-rgb) !important;
    --ion-color-contrast: var(--ion-color-selected-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-selected-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-selected-shade) !important;
    --ion-color-tint: var(--ion-color-selected-tint) !important;
  }
}

//@media (prefers-color-scheme: dark) {
//  /*
//   * Dark Colors
//   * -------------------------------------------
//   */
//  ion-content {
//    --background: #222428;
//  }
//
//  body {
//
//  }
//
//  /*
//   * iOS Dark Theme
//   * -------------------------------------------
//   */
//
//  .ios body {
//    --ion-padding: 8px;
//    --padding-bottom: 8px;
//    --padding-end: 8px;
//    --padding-start: 8px;
//    --padding-top: 8px;
//
//    --ion-background-color: #000000;
//    --ion-background-color-rgb: 0, 0, 0;
//
//    --ion-text-color: #ffffff;
//    --ion-text-color-rgb: 255, 255, 255;
//
//    --ion-color-step-50: #0d0d0d;
//    --ion-color-step-100: #1a1a1a;
//    --ion-color-step-150: #262626;
//    --ion-color-step-200: #333333;
//    --ion-color-step-250: #404040;
//    --ion-color-step-300: #4d4d4d;
//    --ion-color-step-350: #595959;
//    --ion-color-step-400: #666666;
//    --ion-color-step-450: #737373;
//    --ion-color-step-500: #808080;
//    --ion-color-step-550: #8c8c8c;
//    --ion-color-step-600: #999999;
//    --ion-color-step-650: #a6a6a6;
//    --ion-color-step-700: #b3b3b3;
//    --ion-color-step-750: #bfbfbf;
//    --ion-color-step-800: #cccccc;
//    --ion-color-step-850: #d9d9d9;
//    --ion-color-step-900: #e6e6e6;
//    --ion-color-step-950: #f2f2f2;
//
//    --ion-toolbar-background: #0d0d0d;
//
//    --ion-item-background: #000000;
//
//    --ion-card-background: #1c1c1d;
//  }
//
//
//  /*
//   * Material Design Dark Theme
//   * -------------------------------------------
//   */
//
//  .md body {
//    --ion-padding: 8px;
//    --padding-bottom: 8px;
//    --padding-end: 8px;
//    --padding-start: 8px;
//    --padding-top: 8px;
//
//    --ion-background-color: #121212;
//    --ion-background-color-rgb: 18, 18, 18;
//
//    --ion-text-color: #ffffff;
//    --ion-text-color-rgb: 255, 255, 255;
//
//    --ion-border-color: #222222;
//
//    --ion-color-step-50: #1e1e1e;
//    --ion-color-step-100: #2a2a2a;
//    --ion-color-step-150: #363636;
//    --ion-color-step-200: #414141;
//    --ion-color-step-250: #4d4d4d;
//    --ion-color-step-300: #595959;
//    --ion-color-step-350: #656565;
//    --ion-color-step-400: #717171;
//    --ion-color-step-450: #7d7d7d;
//    --ion-color-step-500: #898989;
//    --ion-color-step-550: #949494;
//    --ion-color-step-600: #a0a0a0;
//    --ion-color-step-650: #acacac;
//    --ion-color-step-700: #b8b8b8;
//    --ion-color-step-750: #c4c4c4;
//    --ion-color-step-800: #d0d0d0;
//    --ion-color-step-850: #dbdbdb;
//    --ion-color-step-900: #e7e7e7;
//    --ion-color-step-950: #f3f3f3;
//
//    --ion-item-background: #1e1e1e;
//
//    --ion-toolbar-background: #1f1f1f;
//
//    --ion-tab-bar-background: #1f1f1f;
//
//    --ion-card-background: #1e1e1e;
//  }
//}
