<ion-card *ngIf="headlines?.length > 0">
    <ion-card-header>
        <ion-card-title>{{headline.title}}</ion-card-title>
        <ion-card-subtitle>{{headline.schrijver}}: {{lastUpdated}}
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p [innerHTML]="headline.text">
        </p>
    </ion-card-content>
    <ion-footer>
        <ion-button fill="outline" color="light" [disabled]="headlineIndex === 0" (click)="previousHeadline()">
            <ion-icon color="dark" slot="icon-only" name="chevron-back-sharp"></ion-icon>
        </ion-button>
        {{headlineIndex + 1 }} van {{headlines?.length}}
        <ion-button fill="outline" color="light" [disabled]="headlineIndex + 1 === headlines?.length"
                    (click)="nextHeadline()">
            <ion-icon slot="icon-only" color="dark" name="chevron-forward-sharp"></ion-icon>
        </ion-button>
    </ion-footer>
</ion-card>
