<ion-header>
    <ion-toolbar color="primary">
        <ion-title routerLink="/tabs/home">
        <img src="/assets/header_white3.png" height="36px;">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="ion-no-padding"
                        fill="clear"
                        (click)="showDetail = !showDetail">
                <ion-icon slot="icon-only"
                          name="eye-outline"
                          [color]="showDetail ? 'secondary' : 'light'">
                </ion-icon>
            </ion-button>
            <ion-button class="ion-no-padding"
                        fill="clear"
                        (click)="openSelectSort()">
                <ion-icon size="medium"
                          name="filter-outline"
                          color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment color="primary" mode="md" value="punten" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="punten">
            <ion-label>Punten</ion-label>
        </ion-segment-button>
        <ion-segment-button value="gekozen">
            <ion-label>Gekozen</ion-label>
        </ion-segment-button>
        <ion-segment-button value="uitgevallen">
            <ion-label>Uitgevallen</ion-label>
        </ion-segment-button>
    </ion-segment>
        <ion-searchbar [(ngModel)]="searchTerm" placeholder="Zoek renner" color="light"
                       debounce="500"></ion-searchbar>
    <ion-progress-bar value="1" color="primary"></ion-progress-bar>

    <ion-list *ngIf="segmentView === 'punten'">
        <ng-container *ngFor="let line of riders | searchRiders: searchTerm">
            <app-renner-table-summary [mainValue]="selectedSort"
                                      [showDetail]="showDetail"
                                      [showDelta]="false"
                                      [riderId]="line.id"
                                      [line]="line">
            </app-renner-table-summary>
        </ng-container>
    </ion-list>
    <ion-list *ngIf="segmentView === 'gekozen'">
        <ng-container *ngFor="let line of riders | searchRiders: searchTerm">
            <app-renner-table-summary [mainValue]="'gekozen'"
                                      [showDetail]="showDetail"
                                      [showDelta]="false"
                                      [showImage]="false"
                                      [riderId]="line.id"
                                      [line]="line">
            </app-renner-table-summary>
        </ng-container>
    </ion-list>
    <ion-list *ngIf="segmentView === 'uitgevallen'">
        <ng-container *ngFor="let line of riders | filterIsOut | searchRiders: searchTerm">
            <app-renner-table-summary [mainValue]="selectedSort"
                                      [showDetail]="showDetail"
                                      [riderId]="line.id"
                                      [line]="line">
            </app-renner-table-summary>
        </ng-container>
    </ion-list>
</ion-content>
<ion-item class="ion-no-padding ion-no-margin" hidden>
    <ion-label>Sorteren</ion-label>
    <ion-select [value]="selectedSort" okText="Ok" cancelText="Annuleren" interface="popover" #selectsort
                (ionChange)="sortRenners($event.detail.value)">
        <ion-select-option value="totalPoints">Stand</ion-select-option>
        <ion-select-option value="totalTourPoints">Algemeen</ion-select-option>
        <ion-select-option value="totalMountainPoints">Berg</ion-select-option>
        <ion-select-option value="totalPointsPoints">Punten</ion-select-option>
        <ion-select-option value="totalYouthPoints">Jongeren</ion-select-option>
        <ion-select-option value="totalStagePoints">Etappe</ion-select-option>
        <ion-select-option value="waarde">Waarde</ion-select-option>
    </ion-select>
</ion-item>
