<ion-item>

    <!--<ion-grid class="ion-no-padding">-->
    <!--  <ion-row class="ion-padding-vertical">-->
    <!--    <ion-col class="ion-align-self-center">-->

    <ion-list *ngIf="rider">
        <div class="align-content-horizontal">
            <img
                    style="height: 24px;"
                    [src]="'/assets/'+icon+'.png'">
            <!--    <ion-icon [src]="'/assets/'+icon+'.png'"></ion-icon>-->
            &nbsp;
            <img *ngIf="rider?.rider?.rider?.nationality"
                 style="height: 16px;"
                 src="/assets/flag/{{rider?.rider?.rider?.nationality}}.png">
            <span *ngIf="rider?.rider?.rider?.id">&nbsp;</span>
            {{rider?.rider.rider.firstName}}
            {{rider?.rider.rider.surNameShort}}
            <span *ngIf="rider?.rider?.rider?.id">
            ({{rider?.rider.waarde}}) </span>
            <ng-container *ngIf="this.isYoungster">
                &nbsp;
                <img src="/assets/shirt_jongeren.png" style="height: 24px;">
            </ng-container>

        </div>
    </ion-list>
    <ion-icon *ngIf="!rider?.id" slot="end" name="add" (click)="openRidersPopup(rider?.index)"></ion-icon>
    <ion-icon *ngIf="rider?.id" slot="end" name="trash" (click)="deleteRider(rider)"></ion-icon>
</ion-item>
