<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <img src="/assets/header_white3.png" height="36px;">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button *ngIf="(isRegistrationOpen$ | async)" color="secondary" expand="full" href="/tabs/inschrijven">Maak je team</ion-button>
    <ion-chip *ngIf="deadlinetimer" class="align-content-horizontal" color="danger">Deadline is {{deadlinetimer}}</ion-chip>
    <app-login></app-login>
    <app-headlines></app-headlines>
    <app-top5 [lastUpdated]="lastUpdated" [isRegistrationOpen$]="isRegistrationOpen$"></app-top5>
</ion-content>
