<ion-item (click)="openDeelnemer(line?.id)" lines="full" *ngIf="line">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col size="2" class="ion-align-self-center">
                {{line?.position}}
                <ion-text color="medium"
                          *ngIf="line && line.previousPosition && (line.previousPosition - line.position) != 0">
                    <ion-icon [name]="line.previousPosition - line.position > 0 ? 'chevron-up' : 'chevron-down'"
                              [color]="line.previousPosition - line.position > 0 ? 'success' : 'danger'">
                    </ion-icon>{{line.previousPosition - line.position}}
                </ion-text>
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-wrap" size="6">
                <ion-row>
                    {{line?.teamName}}
                </ion-row>
                <ion-row>
                    <ion-text color="medium">
                        {{line?.displayName}}
                    </ion-text>
                </ion-row>
            </ion-col>
            <ion-col size="4" class="ion-align-self-center ion-text-end">
                <app-punten-col [showDelta]="showDelta" [showImage]="showImage" [imageUrl]="imageUrl" [punten]="punten" [deltaPunten]="line.deltaTotalStagePoints"></app-punten-col>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-padding-bottom ion-wrap ion-justify-content-end" *ngIf="showDetail">
          <app-icon-with-points image="/assets/etappes_donker.png" [points]="line.totalStagePoints"></app-icon-with-points>
          <app-icon-with-points image="/assets/shirt_algemeen.png" [points]="line.totalTourPoints"></app-icon-with-points>
          <app-icon-with-points image="/assets/shirt_punten.png" [points]="line.totalPointsPoints"></app-icon-with-points>
          <app-icon-with-points image="/assets/shirt_berg.png" [points]="line.totalMountainPoints"></app-icon-with-points>
          <app-icon-with-points image="/assets/shirt_jongeren.png" [points]="line.totalYouthPoints"></app-icon-with-points>
        </ion-row>
    </ion-grid>
</ion-item>
