<ion-item>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col size="2" class="ion-align-self-center">
                {{line.position}}
            </ion-col>
            <ion-col class="ion-align-self-center">
                {{line.displayName}}
            </ion-col>
            <ion-col size="2" class="ion-align-self-center">
                <ion-chip>  {{line.totalStagePoints}}</ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
