<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
    <ion-segment mode="md" (ionChange)="segmentChanged($event.detail.value)" value="waardelijst">
        <ion-segment-button value="waardelijst">
            <ion-label>Waarde</ion-label>
        </ion-segment-button>
        <ion-segment-button value="teamlijst">
            <ion-label>Ploeg</ion-label>
        </ion-segment-button>
    </ion-segment>
<!--    <ion-searchbar (ionChange)="search($event)" placeholder="Zoek renner" color="light"-->
<!--                   debounce="500"></ion-searchbar>-->

</ion-header>
<ion-content>
    <ion-list *ngIf="selectedSegment === 'teamlijst'">
        <ion-list *ngFor="let team of teams">
            <ion-item color="tertiary">{{team.teamName}}</ion-item>
            <ion-item *ngFor="let rider of team.tourRiders" (click)="selectRider(rider, team)">
                <img slot="start" style="height: 16px;" src="/assets/flag/{{rider?.rider?.nationality}}.png">
                {{rider?.rider.firstName}}
                {{rider?.rider.surNameShort}}
                ({{rider?.waarde}})
                <ng-container *ngIf="rider?.isYoungster">
                    &nbsp;
                    <img src="/assets/shirt_jongeren.png" style="height: 24px;">
                </ng-container>

                <ion-icon name="add" slot="end"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-list>
    <ion-list *ngIf="selectedSegment === 'waardelijst'">
        <ion-list *ngFor="let waarde of ridersWaardeList">
            <ion-item color="tertiary">{{waarde.waarde}}</ion-item>
            <ion-item *ngFor="let rider of waarde.tourRiders"  (click)="selectRider(rider, rider.team)">
                <img slot="start" style="height: 16px;" src="/assets/flag/{{rider?.rider?.nationality}}.png">
                {{rider?.rider.firstName}}
                {{rider?.rider.surNameShort}}
                ({{rider?.waarde}})
                <ng-container *ngIf="rider?.isYoungster">
                    &nbsp;
                    <img src="/assets/shirt_jongeren.png" style="height: 24px;">
                </ng-container>

                <ion-icon name="add" slot="end"></ion-icon>

            </ion-item>
        </ion-list>
    </ion-list>

</ion-content>
